# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/Frontend/node_modules
/.pnp
/Frontend/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/Frontend/coverage

# next.js
/.next/
/Frontend/.next
/out/
/Frontend/out/

# production
/build
/Frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# .gitignore
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#env
.env
